torch==2.7.0
torchvision==0.22.0
ftfy==6.3.1
huggingface_hub==0.31.1
imageio==2.37.0
insightface==0.7.3
numpy==2.2.6
opencv_python==4.11.0.86
Pillow==11.3.0
safetensors==0.5.3
tqdm==4.67.1
transformers==4.46.2
facexlib==0.3.0
einops==0.8.1
onnxruntime-gpu==1.22.0
imageio-ffmpeg==0.6.0
scikit-image==0.25.2 